<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- YEH LINE MOBILE RESPONSIVENESS KE LIYE ZAROORI HAI -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Products</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include("partials/navbar") %>

<!-- TITLE -->
<div class="product-title">
    <h1>Our Premium Products</h1>
</div>

<div class="product-page">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <h3>Companies</h3>

            <!-- ALL PRODUCTS -->
            <a href="/products"
            class="filter-btn <%= !selectedCompany ? 'active' : '' %>">

                All Products

            </a>

            <!-- COMPANY LIST -->
            <% companies.forEach(c => { %>

                <a href="/products?company=<%= c.name %>"
                class="filter-btn <%= selectedCompany === c.name ? 'active' : '' %>">

                    <%= c.name %>

                </a>

            <% }) %>

    </div>

    <!-- PRODUCTS -->
    <div class="product-container">

        <% if(products.length === 0){ %>

            <p class="no-data">No products found</p>

        <% } %>

        <% products.forEach(p => { %>

            <div class="product-card">

                <div class="img-box">
                    <img src="<%= p.image.replace('/uploads/', '/images/uploads/') %>" alt="<%= p.name %>">
                </div>

                <h4><%= p.name %></h4>

            </div>

        <% }) %>

    </div>

</div>
<%- include("partials/footer") %>
</body>
</html>